.idea/
/11_composer/composer.lock
/11_composer/vendor/
/12_file/copied.txt
/12_file/file_put_contents.txt
/tmp/
/19_coockie_session/session
/phpinfo
/composerApp/composer.lock
/composerApp/vendor/
/phpmyadmin
